body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
    font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e0e0e0, #f8f8f8);
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(to bottom right, #ffffff, #f0f0f0); 
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header {
  text-align: center;
  padding: 20px;
}
header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
   border: 2px solid rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.projects, .contact {
  margin-top: 40px;
}

.project {
  background-color: #e9e9e9;
  padding: 15px;
  border-radius: 8px;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  color: blue;
  text-decoration: none;
}
.project img{
    height: 30px;
    width: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}